.guide-container {
  margin-top: 30px;
}

.guide-container .guide-title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.guide-container .guide-box {
  background-color: #fff9f9;
  border: 1px solid #e3e3dd;
  border-radius: 8px;
  padding: 15px;
  max-width: 65vw;
}

.guide-container .step-title {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 10px;
}

.guide-container .step-details {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
  color: #444444;
}

.guide-container .step-details li {
  margin-bottom: 10px;
  line-height: 1.6;
}

.guide-container .guide-rule {
  font-weight: 500;
  color: #000000;
}

.guide-container .faq-button {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.guide-container .faq-button:hover {
  background-color: #eaeaea;
}